<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593015943145-qiksvqfh1ejjfl1i3sre0dio6ntikn3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593015943145-qiksvqfh1ejjfl1i3sre0dio6ntikn3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDamw_ttOAqLimyTvVrq3hF3FNk3cCaJOc</string>
	<key>GCM_SENDER_ID</key>
	<string>593015943145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstone.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>capstone-052022</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-052022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593015943145:ios:9c198c180f9e2d32c06578</string>
</dict>
</plist>